body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 5px;
  font-family: 'Papyrus', fantasy;
  font-size: 70%;
  background-image: url('https://source.unsplash.com/1600x900/?Currency');
}
table{
  align-items: center;
  align-content: center;
  border-spacing: 70px 2rem;
  color: White;
  background-color: rgba(95,81,75,.5);
}
.search {
  overflow: hidden;
}

.search {
  float: left;
  display: flex;
  color: black;
  text-align: center;
  font-size: 17px;
}

.search input[type=number] {
  float: right;
  padding: 6px;
  border: none;
  font-size: 12px;
}
.butt{
  color: #55c7dd;
  background-color: #f49fdd;
  opacity: .8;
  border-radius: 3rem;
  border: none;
  margin: 0;
  padding: 10;
}
.dis{
  font-size: 16px;
}
.inp{
  color: grey;
  border-radius: 2rem;
  border: none;
}
